<head>
  <script defer src="https://use.fontawesome.com/releases/[VERSION]/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/[VERSION]/js/v4-shims.js"></script>
</head>
<%= render "categories/index" %>
<br>
<%= link_to '+', new_category_path, class: "btn btn-primary btn-lg btn-block", type:"button" %>



<br><br><br><br><br>

<Div class="Jumbotron_wrap">
<div class="jumbotron_header">
    <div>
      <i class="fab fa-internet-explorer"></i> Access IE
    </div>
</div>
  <div class="access_container">

    <div class="ie_link">
      <div class="ie_link_header">

      </div>
      <div contenteditable="false" class="ie_paste">

      </div>
    </div>

    <div class="ie_link">
      <div class="ie_link_header">

      </div>
    <div contenteditable="false" class="ie_paste">

    </div>
  </div>

  <div class="ie_link">
    <div class="ie_link_header">

    </div>
    <div contenteditable="false" class="ie_paste">

    </div>
  </div>

  <div class="ie_link">
    <div class="ie_link_header">

    </div>
    <div contenteditable="false" class="ie_paste">

    </div>
  </div>

  <div class="ie_link">
    <div class="ie_link_header">

    </div>
    <div contenteditable="false" class="ie_paste">

    </div>
  </div>
</div>
</div>



<Div class="Jumbotron_wrap">
<div class="jumbotron_header">
    <div>
      <i class="fas fa-cog"></i>
    </div>
</div>
  <div class="access_container">

    <div class="ie_link">
      <div class="ie_link_header">

      </div>
      <div contenteditable="false" class="ie_paste">


        </ul>
      </div>
    </div>


    <div class="ie_link">
      <div class="ie_link_header">

      </div>
      <div contenteditable="false" class="ie_paste">


        </ul>
      </div>
    </div>

    <div class="ie_link">
      <div class="ie_link_header">

      </div>
      <div contenteditable="false" class="ie_paste">

        </ul>
      </div>
    </div>


  </div>
</div>
</div>



<div class="notepad">
  <div class="notepad_header"><div class="notepad_header_content"><i class="fas fa-pencil-alt"></i> Notepad</div></div>

  <div contenteditable="true" class="notepad_content">

    Eicar TEST STRING:
        <br>
        <br>
    X5O!P%@AP[4\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*

  </div>

</div>

<div><a href=""`` target="viewer">Google</a></div>



<iframe src=""  class="procedure" name="viewer"</iframe>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
