

// Example using 'Cerulean' bootswatch

//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

@import "recurring_select";
@import "font-awesome";

$headercolor: #4c4c4c;


 header{
   margin:auto;
   font-size:  40px;
   padding:10px;
   text-align: center;
   margin-bottom: 30px;
   margin-top: 20px;
   -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
 }

 Body {
 padding:0;
 margin:0;
 font-family: sans-serif;}



.pagewrapper{
  width: 80%;
  margin: auto;
  padding: 0;
}





 .notepad{
   margin:auto;
   width:80%;
   margin-top:20px;
   padding:10px;
   margin-bottom:40px;
 }

 .notepad_header{
   font-size: 20px;
   font-weight: bold;
   width:100%;
   background-color:#494949;
   border-bottom: 0;
   margin:0;
   padding:0;
   -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
 }

 .notepad_header_content{
   padding:10px;
 }


 .notepad_content{
   box-sizing: border-box;
   width:100%;
   height:400px;
   background-color: #cccccc;
   color:black;
   font-family: sans-serif;
   border: 1px #7c7c7c solid;
   resize: none;

     word-wrap: break-word;
     overflow-wrap: break-word;
     white-space: normal;
   overflow-y: auto;
   padding:20px;
 }



 .parent_show{
   display: none;
 }

 #parent:hover .parent_show{
   display: inline-block;
 }

 #parent:hover{
   background-color: orange;
   border-color:orange;
 }


 #parent:hover .parent_hide{
   display: none;
 }


/* Bootstrap overrides */

.row{
  margin:0
}
